:root{
  /* =~= Theme Properties =~= */
	--theme-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-family-heading: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 24px;
	--theme-rounded-container: 6px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 255 255 255;
	--on-secondary: 255 255 255;
	--on-tertiary: 0 0 0;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 0 0 0;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #B70000 */
	--color-primary-50: 244 217 217; /* ⬅ #f4d9d9 */
	--color-primary-100: 241 204 204; /* ⬅ #f1cccc */
	--color-primary-200: 237 191 191; /* ⬅ #edbfbf */
	--color-primary-300: 226 153 153; /* ⬅ #e29999 */
	--color-primary-400: 205 77 77; /* ⬅ #cd4d4d */
	--color-primary-500: 183 0 0; /* ⬅ #B70000 */
	--color-primary-600: 165 0 0; /* ⬅ #a50000 */
	--color-primary-700: 137 0 0; /* ⬅ #890000 */
	--color-primary-800: 110 0 0; /* ⬅ #6e0000 */
	--color-primary-900: 90 0 0; /* ⬅ #5a0000 */
	/* secondary | #000000 */
	--color-secondary-50: 217 217 217; /* ⬅ #d9d9d9 */
	--color-secondary-100: 204 204 204; /* ⬅ #cccccc */
	--color-secondary-200: 191 191 191; /* ⬅ #bfbfbf */
	--color-secondary-300: 153 153 153; /* ⬅ #999999 */
	--color-secondary-400: 77 77 77; /* ⬅ #4d4d4d */
	--color-secondary-500: 0 0 0; /* ⬅ #000000 */
	--color-secondary-600: 0 0 0; /* ⬅ #000000 */
	--color-secondary-700: 0 0 0; /* ⬅ #000000 */
	--color-secondary-800: 0 0 0; /* ⬅ #000000 */
	--color-secondary-900: 0 0 0; /* ⬅ #000000 */
	/* tertiary | #B59814 */
	--color-tertiary-50: 244 240 220; /* ⬅ #f4f0dc */
	--color-tertiary-100: 240 234 208; /* ⬅ #f0ead0 */
	--color-tertiary-200: 237 229 196; /* ⬅ #ede5c4 */
	--color-tertiary-300: 225 214 161; /* ⬅ #e1d6a1 */
	--color-tertiary-400: 203 183 91; /* ⬅ #cbb75b */
	--color-tertiary-500: 181 152 20; /* ⬅ #B59814 */
	--color-tertiary-600: 163 137 18; /* ⬅ #a38912 */
	--color-tertiary-700: 136 114 15; /* ⬅ #88720f */
	--color-tertiary-800: 109 91 12; /* ⬅ #6d5b0c */
	--color-tertiary-900: 89 74 10; /* ⬅ #594a0a */
	/* success | #28a745 */
	--color-success-50: 223 242 227; /* ⬅ #dff2e3 */
	--color-success-100: 212 237 218; /* ⬅ #d4edda */
	--color-success-200: 201 233 209; /* ⬅ #c9e9d1 */
	--color-success-300: 169 220 181; /* ⬅ #a9dcb5 */
	--color-success-400: 105 193 125; /* ⬅ #69c17d */
	--color-success-500: 40 167 69; /* ⬅ #28a745 */
	--color-success-600: 36 150 62; /* ⬅ #24963e */
	--color-success-700: 30 125 52; /* ⬅ #1e7d34 */
	--color-success-800: 24 100 41; /* ⬅ #186429 */
	--color-success-900: 20 82 34; /* ⬅ #145222 */
	/* warning | #ffc107 */
	--color-warning-50: 255 246 218; /* ⬅ #fff6da */
	--color-warning-100: 255 243 205; /* ⬅ #fff3cd */
	--color-warning-200: 255 240 193; /* ⬅ #fff0c1 */
	--color-warning-300: 255 230 156; /* ⬅ #ffe69c */
	--color-warning-400: 255 212 81; /* ⬅ #ffd451 */
	--color-warning-500: 255 193 7; /* ⬅ #ffc107 */
	--color-warning-600: 230 174 6; /* ⬅ #e6ae06 */
	--color-warning-700: 191 145 5; /* ⬅ #bf9105 */
	--color-warning-800: 153 116 4; /* ⬅ #997404 */
	--color-warning-900: 125 95 3; /* ⬅ #7d5f03 */
	/* error | #dc3545 */
	--color-error-50: 250 225 227; /* ⬅ #fae1e3 */
	--color-error-100: 248 215 218; /* ⬅ #f8d7da */
	--color-error-200: 246 205 209; /* ⬅ #f6cdd1 */
	--color-error-300: 241 174 181; /* ⬅ #f1aeb5 */
	--color-error-400: 231 114 125; /* ⬅ #e7727d */
	--color-error-500: 220 53 69; /* ⬅ #dc3545 */
	--color-error-600: 198 48 62; /* ⬅ #c6303e */
	--color-error-700: 165 40 52; /* ⬅ #a52834 */
	--color-error-800: 132 32 41; /* ⬅ #842029 */
	--color-error-900: 108 26 34; /* ⬅ #6c1a22 */
	/* surface | #333333 */
	--color-surface-50: 224 224 224; /* ⬅ #e0e0e0 */
	--color-surface-100: 214 214 214; /* ⬅ #d6d6d6 */
	--color-surface-200: 204 204 204; /* ⬅ #cccccc */
	--color-surface-300: 173 173 173; /* ⬅ #adadad */
	--color-surface-400: 112 112 112; /* ⬅ #707070 */
	--color-surface-500: 51 51 51; /* ⬅ #333333 */
	--color-surface-600: 46 46 46; /* ⬅ #2e2e2e */
	--color-surface-700: 38 38 38; /* ⬅ #262626 */
	--color-surface-800: 31 31 31; /* ⬅ #1f1f1f */
	--color-surface-900: 25 25 25; /* ⬅ #191919 */
}
::selection{
	background-color: rgb(var(--color-tertiary-300));
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  text-decoration: none;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(var(--color-surface-200));
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6,label,input {
  font-family: var(--theme-font-family-base);
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
.btn{
	font-size: 1rem;
	line-height: 1.5rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 9px;
	padding-bottom: 9px;
	white-space: nowrap;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition-property: all;
	transition-timing-function: cubic-bezier(.4,0,.2,1);
	transition-duration: .15s;
	border-radius: var(--theme-rounded-base);
}
.login-btn{
	
	--tw-bg-opacity: 1;
background-color: rgb(var(--color-primary-500) / var(--tw-bg-opacity));
color: rgb(var(--on-primary));
margin-top: 5%;
}
.login-btn:hover{
	--tw-brightness: brightness(1.45);
	filter: var(--tw-brightness);
	transform: translate(0, -3px);
	box-shadow: 0 20px 80px -10px rgb(var(--color-primary-500));
}
.text_input_1{
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.login-form{
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;
}

.login-form>label{
	display: block;
    margin-bottom: 10px;
}

.login-form>input{
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.login-form>img{
	width: 40%;
}
.error-message{
	color: rgb(var(--color-error-500));
    margin-top: -10px;
    margin-bottom: 10px;
}
.user-name{
	text-transform: uppercase;
	color: rgb(var(--on-primary))
}
.lista{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-inline: 5%;
	background-color: rgb(var(--color-surface-900));
	padding: 5px;
	box-shadow: 0 20px 80px -10px rgb(var(--color-primary-500));
}
.lista p{
	width: 100%;
	color: black;
}
.desactivado{
	background: rgb(var(--color-surface-300));
}
.desactivado p{
	color: rgb(var(--color-surface-600));
}
.lista>a{
	display: flex;
	flex-direction: row;
	padding: 10px;
	background: rgb(var(--color-tertiary-300));
}

.info_usuario{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: linear-gradient(90deg,
	rgb(var(--color-primary-500)),
	rgb(var(--color-primary-800)),
	rgb(var(--color-primary-500)));
	padding: 15px;
}

.logout-btn{
	--tw-bg-opacity: 1;
background-color: rgb(var(--color-tertiary-500) / var(--tw-bg-opacity));
color: rgb(var(--on-primary));
}

.warning{
	background: rgb(var(--color-warning-500));
	padding-inline: 5px;
color: rgb(var(--on-warning));
text-align: center;
text-transform: uppercase;
font-size: 1.5rem;
}